# Configuration for HP 91xx Certbot Renewer
# Sourced by Systemd Service

# Printer Connection
PRINTER_HOSTNAME=printername
PRINTER_DOMAIN_NAME=example.com
PRINTER_FQDN=${PRINTER_HOSTNAME}.${PRINTER_DOMAIN_NAME}
PRINTER_URL=https://${PRINTER_FQDN}/index.html
PRINTER_PIN=REDACTED

# Certbot / Let's Encrypt
CERTBOT_EMAIL=user@example.com

# Cloudflare
# Note: The script expects the cloudflare.ini file to exist at /etc/ojp91xx-cert-renew/cloudflare.ini
# content of that file should be: dns_cloudflare_api_token = <token>

# Behavior
RENEWAL_THRESHOLD_DAYS=30
